@import "bootstrap";

.background {
	background-color: #183E2C; /* Dark Green */
}

.container {
	background-color: #e0e0e0; /* Light Gray */
}

#page-title {
	color: #00A000; /* Green */
	font-family: Georgia, serif;
}

.info-link {
	color: #00A000; /* Green */
	font-weight: 600;
}

.info-link:hover {
	color: #00A000; /* Green */
}

.site-info {
  font-size: .8em;
  margin-bottom: 1.5em;
}

.site-info > * {
	margin-left: .5em;
	margin-right: .5em;
}

.entry {
	font-family: "Trebuchet MS", sans-serif;
}

.title {
	font-size: 1.5em;
	color: #0000A0; /* Blue */
	margin-right: 1em;
	font-family: Georgia, serif;
}

.date {
	font-size: 1em;
	color: #A00000; /* Red */
	font-family: "Trebuchet MS", sans-serif;
}

.message {
	font-size: 1.25em;
}

.image {
	max-height: 40em;
	border: .08em solid black;
	max-width: 100%;
}

.display-table {
	display: table;
}

.caption {
	font-family: "Courier New", serif;
	font-size: 1.1em;
	display: table-caption;
	caption-side: bottom;
}

.center	{
	text-align: center;
}

.inline-block {
	display: inline-block;
}

.wide-field {
	width: 95%;
}

.big-textbox {
	height: 15em;
}

.help-block, .front-end-error-msg {
	color: red;
}

.hidden {
	display: none;
}

hr {
	height: 0.1em;
	border-style: solid;
	border-color: #183E2C; /* Dark Green */
	border-width: 0.1em 0 0.1em 0;
}

ul {
	list-style-type: none;
	padding-left: 1.25em;
	padding-right: 1.25em;
}
